.profile{
    width:175px;
    margin-bottom:50px;
    border-radius:50%;
}
#Welcome {
    position:absolute;
    height:800px;
    color:white;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0.83;
    background:linear-gradient(#8c6f16 0%,#12c952 100%);
display:table;
width:100%;
height:100%;
z-index:9;

}
body{
    text-align: center;
    margin:0;
    padding-top:800px;
}
#bio{
    padding:50px;
    text-align:center;
}
.line{
    height:6px;
    background-color: black;
    width:100px;
    margin:8px auto; 
    
}
p{
max-width:500px;
margin:25px auto;
font-size:18px;
line-height:1.4;
}
#name{
      font-family: "Sixtyfour", serif;
      font-optical-sizing: auto;
      font-weight:600;
      font-style: normal;
      font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    
}
.menu{
    list-style:none;
    position:fixed;
    top:10px;
    right:30px;
    cursor:pointer;
z-index:10;
}